<!-- src/views/productList.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <a href="/products/new">Adicionar Novo Produto</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>
                    <a href="/products/edit/{{this.id}}">Editar</a>
                    <form action="/products/delete/{{this.id}}" method="post" style="display:inline;">
                        <button type="submit">Deletar</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
